@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgba: 236, 121, 107;
  /* --foreground-rgba: 255, 255, 255, 0.92; */
  --background-start-rgb: 18, 18, 50;
  --background-end-rgb: 18, 18, 50;
}

body {
  color: rgb(var(--foreground-rgba));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
